@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Heebo:wght@100..900&family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/5338522/pexels-photo-5338522.jpeg");
  background-size: cover;
  background-position: center;
  font-family: Alkatra;
}

#games {
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255) solid 1px;
  box-shadow: 0 8px 10px rgb(255, 255, 255);
  font-size: 100px;
  text-align: center;
  overflow: hidden;
  /* background-color: rgb(20, 18, 40); */
  border-radius: 20px;
  padding: 15px;
  width: 50%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 50vw;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  margin: 20px;
  border: black solid 1px;
  font-size: 50px;
  text-align: center;
  overflow: hidden;
  background-color: rgb(126, 181, 192);
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  margin-top: 10px;
  height: 100%;
}

p {
  color: white;
}
