@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Heebo:wght@100..900&family=Secular+One&display=swap");

* {
  box-sizing: border-box;
}
h1 {
  font-size: 110px;
  margin-bottom: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 40, 62);
  font-family: Alkatra;
  font-size: 40px;
  color: white;
}
#name {
  text-align: left;
  
}
.board {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 55vw;
  align-items: center;
  justify-content: center;
  border: rgb(126, 181, 192) solid 3px;
  box-shadow: 0 8px 10px rgb(126, 181, 192);
  border-radius: 8px;
  margin: 80px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  background-color: rgb(126, 181, 192);
  margin: 20px;
  border-radius: 15px;
  font-size: 50px;
  text-align: center;
}

.status {
  margin-top: 50px;
  width: 800px;
  height: 200px;
  box-shadow: 0 8px 10px rgb(126, 181, 192);
  border-radius: 8px;
}
button {
  background-color: rgb(126, 181, 192);
  size: 40px;
}

h2 {
  font-size: 50px;
  text-align: center;
  margin: 10px;
}
h3 {
  margin: 10px;
}
.instructions {
  box-shadow: 0 4px 10px rgb(126, 181, 192);
  border-radius: 20px;
  padding: 10px;
  width: 55vw;
}
p,
ul,
ol {
  font-size: 30px;
  margin: 10px;
}
