.form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.form-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form-part label {
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}

.form-part input,
.form-part select,
.form-part textarea {
    flex: 2;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 6px;
}